<table>
    <tr>
        <td>
            <h3>{{vehicle.make}} - {{vehicle.model}} - {{vehicle.year}}</h3>
        </td>
        <td>
            <md-toolbar>
                <button md-button (click)="deleteThisVehicle()"><md-icon>delete</md-icon></button>&nbsp;
                <button md-button><md-icon>edit</md-icon></button> &nbsp;
            </md-toolbar>
        </td>
    </tr>
</table>
<md-card *ngIf="user.uid">
    <table>
        <tr>
            <td><button md-button (click)="addVehicleService()"><md-icon>add</md-icon></button></td>
            <td>
                <table>
                    <tr>
                        <td><input type="text" name="inputMessage" placeholder="Service Description" [(ngModel)]="newDescrip"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="inputMessage" placeholder="Date" [(ngModel)]="newDate"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="inputMessage" placeholder="Cost" [(ngModel)]="newCost"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</md-card>

<md-card *ngFor="let service of services">
    <table>
        <tr>
            <td><button md-button [routerLink]="['service/', {vid: idKey, pid: service.$key}]"><md-icon>menu</md-icon></button></td>
            <td>
                <table>
                    <tr>
                        <td>{{service.description}}</td>
                    </tr>
                    <tr>
                        <td>{{service.date}}</td>
                    </tr>
                    <tr>
                        <td>{{service.cost}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</md-card>