<p *ngIf="!user.uid">Welcome!</p>
<p *ngIf="user.uid">Welcome back!</p>

<md-card *ngIf="user.uid">
  <input type="text" name="inputMessage" placeholder="Make" [(ngModel)]="newMake"> <br>
  <input type="text" name="inputMessage" placeholder="Model" [(ngModel)]="newModel"> <br>
  <input type="text" name="inputMessage" placeholder="Year" [(ngModel)]="newYear"> <br>
  <button md-button (click)="addVehicle()"><md-icon>add</md-icon></button>
</md-card>

<span *ngIf="user.uid">
  <md-card *ngFor="let veh of vehicles" [routerLink]="veh.$key">
    <p>{{veh.make}} - {{veh.model}} - {{veh.year}}</p>
  </md-card>
</span>