<p *ngIf="!user.uid">Welcome!</p>
<p *ngIf="user.uid">Welcome back!</p>

<md-card *ngIf="user.uid">
  <table>
    <tr>
      <td><button md-button (click)="addVehicle()"><md-icon>add</md-icon></button></td>
      <td>
        <table>
          <tr>
            <td><input type="text" name="inputMessage" placeholder="Make" [(ngModel)]="newMake"> </td>
          </tr>
          <tr>
            <td><input type="text" name="inputMessage" placeholder="Model" [(ngModel)]="newModel"></td>
          </tr>
          <tr>
            <td><input type="text" name="inputMessage" placeholder="Year" [(ngModel)]="newYear"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</md-card>

<span *ngIf="user.uid">
  <md-card *ngFor="let veh of vehicles">
    <table><tr>
      <td><button md-button  [routerLink]="veh.$key"><md-icon>menu</md-icon></button></td>
      <td>{{veh.make}} - {{veh.model}} - {{veh.year}}</td>      
    </tr></table> 
  </md-card>
</span>